.move-row {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.column-label {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    font-size: 32px;
    color: rgb(245, 245, 245);
    -unity-text-align: middle-center;
    text-overflow: ellipsis;
}
