.TestButton {
    color: rgb(255, 0, 0);
    width: 16%;
    height: 16%;
    font-size: 28px;
    background-color: rgb(169, 169, 169);
}

#Background {
}

.TestButton:hover {
    background-color: rgb(220, 220, 220);
    transition-duration: 0.15s;
}
