.Tab {
    color: rgb(192, 192, 192);
    width: auto;
    height: 100%;
    font-size: 28px;
    background-color: rgb(51, 51, 51);
    flex-direction: row;
    align-self: center;
    flex-grow: 1;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=2a3a3245871df48ce9b75fd43169618f&type=3#NotInter-Regular");
    -unity-font-style: bold;
}

.Tab:hover {
    background-color: rgb(77, 77, 77);
    color: rgb(211, 211, 211);
    transition-duration: 0.15s;
}

.Tab.selected {
    background-color: rgb(0, 0, 0);
    transition-duration: 0.15s;
}

.character-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

#name-label {
    flex-grow: 1;
}

#health-label {
    width: 80px;
}